<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
    <title>文件详情</title>
</head>
<body>
<div th:if="${ext.equals('1')}" class="container">
    <img src="detail.html" th:src="@{/resources/get/{id}(id=${id})}" />
</div>
<div th:if="${ext.equals('2')}" class="container">
    <video src="detail.html" th:src="@{/resources/get/{id}(id=${id})}">video</video>
</div>
<div th:if="${ext.equals('0')}" class="container">
    <p>当前文件暂时不支持查看</p>
</div>
</body>
</html>