<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>AMOURLING::资源管理站</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}"
          rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/3.1.0/jquery.js}"></script>
</head>
<body>

<div>
    <div sec:authorize="isAuthenticated()">
        <p>Welcome : <a sec:authentication="name" href="#">amourling</a></p>
        <p><a th:href="@{/logout}">登出</a></p>
    </div>
    <div><a href="resources.html" th:href="@{/resources/manage}">资源管理</a></div>
</div>
</body>
</html>